<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-list>

      <ion-item-sliding>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tnmdUnztAYbfJ0jhjpN6oxwP2sb.jpg" alt="Avatar">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <div>
              <h1>Avatar: O Caminho da Água (2022)</h1>
              <p>15/12/2022 (BR) - 3h 12m</p>
              <p>Ficção científica, Ação, Aventura</p>
            </div>
          </ion-label>

          <ion-chip color="success" outline>
            <ion-label>85%</ion-label>
          </ion-chip>

        </ion-item>

        
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6tb0qiqLN9szHPA4i0kY38oaWew.jpg" alt="Pantera Negra">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <div>
              <h1>Pantera Negra: Wakanda para Sempre (2022)</h1>
              <p>10/11/2022 (BR) - 2h 42m</p>
              <p>Ação, Aventura, Ficção científica</p>
            </div>
          </ion-label>

          <ion-chip color="success" outline>
            <ion-label>75%</ion-label>
          </ion-chip>

        </ion-item>

        
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item lines="full">
          <ion-thumbnail slot="start">
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/9z4jRr43JdtU66P0iy8h18OyLql.jpg" alt="troll">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <div>
              <h1>O Troll da Montanha (2022)</h1>
              <p>01/12/2022 (BR) - 1h 43m</p>
              <p>Fantasia, Ação, Aventura</p>
            </div>
          </ion-label>

          <ion-chip color="warning" outline>
            <ion-label>68%</ion-label>
          </ion-chip>

        </ion-item>

        
          <ion-item-options side="end">
            <ion-item-option>
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>


    </ion-list>
  
</ion-content>
